# Мусор ( игнорируется везде )
*.map
*.db

# Игнорирование всех папок в корне проекта
/*

# Обязательные файлы
!/.gitignore
!/build.js
!/gulpfile.js
!/package.json
!/project.config.js
!/README.md

# Обязательные папки
!/dev
!/dist
