-
	var
		fonts = "//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRoboto:400",
		logo = {
			default: 'logo-default-520x84.png',
			inverse: 'logo-inverse-520x84.png',
			name: 'Website Template'
		},
		menu = [
			{ title: 'About' },
			{ title: 'Contacts' }
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
