-
	var
		logo = {
			default: 'logo-300x300.png',
			name: 'jeremyDesign'
		},
		menu = [
			{ title: 'Home', link: 'index.html' },
			{ title: 'About' },
			{ title: 'Typography' },
			{ title: 'Contacts' }
		],
		pageName = 'Home';
