include _config
include _functions
include components/_image
include components/_page-loader

block variables
- main();

doctype html
html( lang='en' )
	head
		title= pageName

		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		link( rel='icon', href='images/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='css/style.css' )

	body
		+page-loader

		.page
			block page

		script( src='js/core.min.js' )
		script( src='js/script.js' )
